<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hk.surl.domain.mapper.UrlMapMapper">

    <!-- 根据短链接id查询长链接id -->
    <select id="selectLongIdByShortId" resultType="java.lang.String">
        -- select m.long_id from tb_url_map as m where m.short_id = #{shortId}
        select m.long_id from tb_url_map as m
            where m.short_id = #{shortId};
    </select>
</mapper>
