<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hk.surl.domain.mapper.VisitLogMapper">

    <select id="selectListByAccessTimeOrShortUrl" resultType="com.hk.surl.domain.entity.VisitLog">

        select * from tb_visit_log as vl
            <where>
                <if test="shortUrl != null and shortUrl != ''">
                    and short_url = #{shortUrl}
                </if>
                <if test="startTime != null">
                    and create_time >= #{startTime}
                </if>
               <if test="endTime != null">
                   and create_time &lt; #{endTime}
               </if>
            </where>
    </select>

    <!-- 获取指定时间内的新增的访问用户:今日新增：在今日内，不在以前的时间内或者以后的时间 -->
    <select id="getNewVisitDataByDatetime" resultType="com.hk.surl.domain.entity.VisitLog">
        select * from tb_visit_log
        where short_url = #{shortUrl}
          and create_time between #{startTime} and #{endTime} and
                visitor_ip not in (
                select visitor_ip from tb_visit_log
                where tb_visit_log.short_url = #{shortUrl} and (
                    create_time &lt; #{startTime} or create_time > #{endTime}))
    </select>



</mapper>
